/*  Media Query Tablette (portrait) */

@media only screen and (min-device-width: 767.99px) and (max-device-width: 1024px) {
  header {
    width: 100vw !important;
    margin: 0 !important;
    img {
      width: 35vw;
    }
    canvas {
      width: 35vw;
    }
  }
  .carousel {
    margin: 10px !important;
  }
  .encart {
    margin: 0 !important;
  }
  .content {
    img {
      height: 20vh;
    }
  }
  .partners {
    img {
      width: 15vw;
      height: 15vh;
    }
  }
  footer {
    font-size: 0.8em;
    width: 100%;

  }

}